@import ../../variables/colors.sass
.fade-scroll-box
	flex: 1
	overflow: hidden
	position: relative

	&::before, &::after
		content: ''
		display: block
		height: 1.5em
		position: absolute
		left: 0
		right: 0

	&::before
		background: $scroll-fade-top
	&::after
		background: $scroll-fade-bottom
		bottom: 0em

	&__content
		max-height: 100%
		overflow: auto
		margin: 0
		padding-top: 1rem
		padding-bottom: 1rem
		box-sizing: border-box