
$path: '/fonts/aileron/Aileron-Regular'
@font-face
	font-family: 'Aileron'
	src: url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff')
	
$path: '/fonts/aileron/Aileron-Bold'
@font-face
	font-family: 'Aileron'
	src: url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff')
	font-weight: bold