.arrow-nav
	position: relative
	font-size: 3rem
	text-align: center
	line-height: 0
	button,
	.button
		padding: .5rem 0
		opacity: .55
		user-select: none
		html:not(.touch) &:hover:not([disabled])
			opacity: .9
