@import "../variables/colors"
.info
	position: absolute
	top: 0; right: 0; left: 0; bottom: 4rem
	overflow: hidden
	text-align: left
	overflow: auto
	transition-duration: 500ms
	transition-property: top
	&.transition-enter,
	&.transition-leave
		top: 95%
		overflow: hidden
		padding-top: 0
		padding-bottom: 0

	.loading &
		transition-property: opacity
		opacity: 1
		&.transition-enter,
		&.transition-leave
			opacity: 0

	h2
		font-size: 1rem
		margin-bottom: 0
		&:first-child
			margin-top: 0
		
	p
		margin-top: 0

	&__quote
		margin: 0

	&__attribution
		display: block
		margin-bottom: .5em
		font-size: .8em
		font-style: normal

	.religion
		font-size: .8em
.attribution
	&__publication
		font-style: italic
	
