.picture-quote
	margin: 0
	flex-grow: 1
	text-align: center
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	br
		line-height: 1.5

	blockquote
		margin: 0
		font-size: 4vh
		overflow: auto

	button
		font-size: 30px
		line-height: 1
		vertical-align: sub
		user-select: none
