
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script')
@import ../variables/colors
@import ../variables/fonts

#wpadminbar
	position: static
	order: -1

html, body
	height: 100%
	padding: 0
	margin: 0

body
	display: flex
	flex-direction: column

h2:first-child
	margin-top: 0

.react-container
	flex-grow: 1
	display: flex
	position: relative

	.dashicons
		font-size: inherit
		width: auto
		height: auto

.react-root
	flex-grow: 1
	font-family: Aileron, sans-serif
	background-color: $dark-gray
	color: #fff
	overflow: hidden
	display: flex
	flex-direction: column
	background-size: cover
	background-position: center
	background-attachment: fixed
	&::before
		content: ' '
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: black
		opacity: .3
		transition-duration: 500ms
	&.loading::before
		opacity: 1
	.loading-transition
		position: relative
		flex-grow: 1
		display: flex
		flex-direction: column
		transition-duration: 500ms
		opacity: 1
		&.transition-enter
			opacity: 0
		&.transition-leave
			opacity: 0

.main
	position: relative
	overflow: auto
	margin: 1rem
	flex-grow: 1
	display: flex
	flex-direction: column
	
	@media( min-width: 900px )
		padding: 0 7vw

.bright-background
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	overflow: auto
	background-color: white
	background-attachment: fixed
	background-size: cover
	background-position: center
	color: $dark-gray
	padding: 1rem

a
	color: #444
	text-decoration: none
	&:focus,
	&:hover
		text-decoration: underline
	&:focus
		outline: thin dotted

button,
button.dashicons
	font-size: 1em
	border: none
	background: transparent
	color: white
	outline: none
	line-height: 1
	vertical-align: sub
	transition: .3s opacity
	&:hover:not([disabled])
		cursor: pointer
		text-decoration: none
	&[disabled]
		opacity: .1
