@import ../variables/colors
.site-header
	position: relative
	font-size: 1rem
	display: flex
	justify-content: flex-end
	align-items: center
	line-height: 1
	padding: 1rem 1rem .5rem 1rem
	
	.site-header__title
		flex-grow: 1
	button.dashicons
		font-size: 2rem