@import ../variables/colors.sass
.site-nav
	font-size: 1.2rem
	display: flex
	flex-direction: column
	position: absolute
	right: 0
	bottom: 0
	top: 0
	bottom: 0
	width: 440px
	max-width: 100vw
	z-index: 5
	background-color: $dark-gray
	padding: 1em
	box-sizing: border-box
	transition-duration: 300ms
	&.transition-enter,
	&.transition-leave
		right: -440px
		
	&__item
		margin: .5em 0
		cursor: default
		list-style-type: none
		
		&.current,
		&:hover:not(.count_0)
			cursor: pointer
			a
				color: white
			
		& &__item
			margin: 0
		a
			color: $faded-gray

	header
		display: flex
		h2
			padding: 0 0 0 1rem
			margin: 0
			flex-grow: 1
			&:first-child
				padding-left: 0
		.dashicons
			font-size: 2rem
			padding: 0


.copyright
	display: block
	text-align: center
	margin-bottom: 1em
